---
layout: layouts/base.njk
---
<article class="post-content post">
    <header class="post-content-header gh-canvas">
        <h1 class="post-content-title">{{ title }}</h1>
        {% if featureImage %}
        <figure class="post-content-image kg-width-wide">
            {% postImage page, featureImage, title %}
            <figcaption>
                <span style="white-space: pre-wrap;">{{ featureImageCaption }}</span>
            </figcaption>
        </figure>
        {% endif %}
    </header>
    <div class="post-content-body gh-content gh-canvas">
        {{ content | safe}}
    </div>
</article>